<html>
    <body>
        <%= escapedHtml %>
        <%- rawHtml %>
        <%- rawHtmlSafeValue %>

        <%- object.rawHtmlProp %>

        <script>
            var dataInStringLiteral = "<%= dataInStringLiteral %>";
            var dataInStringLiteralRaw = "<%- dataInStringLiteralRaw %>";

            var dataInGeneratedCode = <%= dataInGeneratedCode %>;
            var dataInGeneratedCodeRaw = <%- dataInGeneratedCodeRaw %>;

            init("<%= backslashSink1 %>", "<%= backslashSink2 %>");

            var mustache = "{{ rawHtml }}";
        </script>

        <button onclick="doSomething('<%= dataInEventHandlerString %>')">Click me</button>
        <button onclick="doSomething('<%- dataInEventHandlerStringRaw %>')">Click me</button>

        <%- include('ejs_include1', { foo: rawHtml }) _%>
        <% include ejs_include2 %>
    </body>
</html>
