<a href="<%= raw user_website %>">website</a>
<%= raw @display_text %>
<%= raw display_text %>
<%= raw locals[:display_text] %>
<%= raw params[:text] %>
<% key = :display_text %>
<%= raw locals[key] %>

<ul>
<% key = [:display_text, :safe_text] do
  <li><%= raw locals[key] %></li>
<% end %>
</ul>

<%= @display_text %>

<%=
  full_text = prefix + locals[:display_text]
  full_text
%>

<%=
  @display_text.html_safe
%>

<%=
  @display_text.html_safe
  @display_text
%>

<%= render partial: 'foo/bars/widget', locals: { display_text: "widget_" + display_text } %>

<%= link_to "some website", @user_website %>
